services:
  db:
    image: mysql:8.0
    container_name: flashcards-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - '3306:3306'
    volumes:
      - flashcards-db-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: flashcards-pma
    restart: always
    ports:
      - '8080:80'
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    depends_on:
      - db

volumes:
  flashcards-db-data:
