<!--TODO : eval(await auth.check)-->
<header>
  <div class="logo">
    <img src="/resources/assets/logo.png" />
    <h1>
      Flashcards
    </h1>
    <a href="{{ route('home') }}">Accueil</a>
  </div>
  <div class="login-container">
    <a href="{{ route('decks.create') }}">Ajouter un deck</a>

  </div>
</header>
