* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
header {
  background-image: url('../assets/gambling.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
main {
  height: 89vh;
  background-image: url('../assets/blackjack.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
