* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
header {
  background-image: url('../assets/gambling.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  color: White;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 20px;
  text-align: center;
}
main {
  height: 85vh;
  background-image: url('../assets/blackjack.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
